main {
    background-color: black;
}

.my-name {
    color: #ff7f50;
}

.short-info {
    margin-top: 3rem;
}

.custom-primary {
    background-color: #ff7f50;
    color: white;
}

.all {
    font-family: 'Courier New', Courier;
}

.card {
    border-radius: 50px;
}

img {
    border-radius: 20px;
    border: 5px solid orange;
}

.container {
    font-family: 'Courier New', Courier, monospace;
}

h2,
h3 {
    text-decoration: underline;
    color: #ff7f50!important;
    font-weight: bold!important;
    font-family: 'Courier New', Courier, monospace!important;
}

.title {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: #ff7f50;
}

