main {
    background-color: black;
}

.my-name {
    color: #ff7f50;
}

.short-info {
    margin-top: 3rem;
}

.custom-btn {
    background-color: #ff7f50;
    color: white;
}

.all {
    font-family: 'Courier New', Courier;
}