body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(64, 64, 64);
    color: white;
}

#top_bar{
    border: solid 5px black;
    background-color: black;
}

div > h2 {
    text-align: left;
}

div > img, input{
    align-items: right;
}